.Orders {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 2px 2px #ccc;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.Card {
    width: 200px;
    border: 2px solid lightgreen;
    margin: 10px;
}